name: Build and push Docker image

on:
  push:
    branches: [ main ]
    tags: ['v*', 'release-*']
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase reponame
        run: |
          echo "LOWER_IMAGE=${IMAGE@L}" >> "${GITHUB_ENV}"

      - name: Build and push image (with registry cache)
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.LOWER_IMAGE }}:${{ github.sha }},${{ env.LOWER_IMAGE }}:${{ github.ref_name }},${{ env.LOWER_IMAGE }}:latest
          cache-from: type=registry,ref=${{ env.LOWER_IMAGE }}:cache
          cache-to: type=registry,ref=${{ env.LOWER_IMAGE }}:cache,mode=max